#winOrLoseSection {
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

#leaderboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
}