body {
    height: 100vh;
    background-color: var(--hColor);
    color: whitesmoke;
}

h2 {
    color: whitesmoke;
}




#winOrLoseSection {
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

#leaderboard {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    border: 3px solid rgb(117, 117, 117);
    font-family: var(--pFont);
    background-color: slategray;
}

.whiteSmoke {
    border: 1px solid rgb(117, 117, 117);
}