body {
    height: 100vh;
    background-color: var(--hColor);
    color: whitesmoke;
}

h2,
h3 {
    color: whitesmoke;
}

h3 {
    margin-bottom: 10px;
}




#winOrLoseSection {
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

#leaderboard {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    font-family: var(--pFont);
    row-gap: 20px;
}

.whiteSmoke {
    border-bottom: 1px solid whitesmoke;
}

.titles {
    padding: 4px 8px;
    font-size: var(--pSmall);
    margin-bottom: -10px;
}

.rightAlign {
    text-align: end;
}

#thanks {
    margin-top: 40px;
}