body {
    margin: 0px;
}

#gameBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0px 16px 0px 16px;
    align-items: center;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#timerAndButtonsContainer {
    height: 30vh;
    padding-top: 75px;
}

#destinationCardContainer {
    height: 70vh;
}

#endCardContainer {
    display: none;
}

#card {
    background-color: #EAEAEA;
    border-bottom: 5px solid #cdcdcd;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#card p {
    margin: 15px 0px 25px 0px;
    font-size: var(--pMedium);
    text-align: center;
}

#mapBtn {
    width: 30%;
    font-size: var(--pMedium);
}

#guessBtn {
    margin: auto 0px 100px 0px;
}

#buttonContainer {
    display: flex;
    gap: 0px;
    margin-top: 16px;
    background-color: #EEA375;
    border-radius: 5px;
}

#partClueBtn, #endClueBtn {
    font-family: var(--pFont);
    font-size: var(--pMedium);
    color: white;
    border: none;
    padding: 6px 28px 6px 28px;
}

#partClueBtn {
    background-color: #EEA375;
    border-radius: 5px;
}

#endClueBtn {
    background-color: #EEA375;
    border-radius: 5px;
}

#buttonContainer .selected {
    background-color: var(--hColor);
    border-bottom: 2px solid #A7562E;
}

#timer {
    font-family: var(--pFont);
    font-size: var(--h2Size);
    color: black;
    font-weight: 250;
}