body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100vh;
    width: 100vw;
}



#sheet {
    z-index: 8888;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    background: white;
    border-top: 1px solid #ddd;
    border-radius: 16px 16px 0 0;
    user-select: none;
}

#handle-area {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    cursor: grab;
}

.handle-bar {
    width: 36px;
    height: 4px;
    background: #ccc;
    border-radius: 2px;
}

.sheet-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 16px;
    text-align: center;
    line-height: 1.5;
}

.sheet-content button {
    width: 170px;
}


#mapSection button {
    width: 20%;
    position: absolute;
    z-index: 9999;
    top: 80px;
    left: 16px;
    font-size: var(--pMedium);
}

#timer {
    position: absolute;
    z-index: 9999;
    width: 100%;
    text-align: center;
    top: 50px;
}

.notification {
    position: absolute;
    z-index: 99999;
    background-color: #73a3ff;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    width: 18px;
    text-align: center;
    padding: 4px;
    animation: pulse 1s ease-in-out infinite;
    top: 75px;
    left: 80px;
}