body {
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding-top: 100px;
    height: 100%;
}

header {
    /* margin-top: 131px; */
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    font-size: var(--h1Size);
}

h4 {
    margin: auto;
    border-bottom: 5px solid var(--hColor);
    width: 50%;
    font-size: var(--h4Size);
    padding-bottom: 5px;
}


button {
    margin-top: 32px;
    font-family: var(--pFont);
    font-size: var(--pLarge);
    color: #F3F9FF;
    margin: 5px 0px 0px 0px;
    width: 100%;
    height: 44px;
    background-color: var(--hColor);
    border: none;
    border-bottom: 4px solid #A7562E;
    border-radius: 10px;
}

button:active {
    border-bottom: none;
}

section input {
    display: block;
    padding: 8px;
    margin: 0px;
    border: none;
    border-bottom: 4px solid #E3E3E3;
}

input:focus {
    outline-style: none;
}

#createTeamP {
    font-family: var(--pFont);
    font-size: var(--pSmall);
    position: relative;
    top: 12px;
}