@font-face {
    font-family: ChangaOne;
    src: url(../media/ChangaOne-Regular.ttf);
}

@font-face {
    font-family: SofiaSans;
    src: url(../media/SofiaSans-VariableFont_wght.ttf);
}

:root {
    --backgroundColor: #F3F9FF;

    --pFont: SofiaSans;
    --pLarge: 20px;
    --pMedium: 16px;
    --pSmall: 12px;

    --hFont: ChangaOne;
    --h1Size: 48px;
    --h2Size: 36px;
    --h3Size: 24px;
    --h4Size: 20px;
}


body {
    margin: 0px;
    background-color: var(--backgroundColor);
}

/* WELCOME PAGE */

#welcomeHeader {
    height: 559px;
    width: 390px;
    background-image: url(../media/paViftBackground.svg);
    background-position: center;
    background-size: cover;
    
    display: flex;
    align-items: baseline;
    justify-content: center;
}


#logo {
    margin-top: 67px;
}

#welcomeMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcomeMain h2 {
    font-family: var(--hFont);
}

#welcomeMain p {
    font-family: var(--pFont);
}