@font-face {
    font-family: ChangaOne;
    src: url(../media/ChangaOne-Regular.ttf);
}

@font-face {
    font-family: SofiaSans;
    src: url(../media/SofiaSans-VariableFont_wght.ttf);
}

:root {
    --backgroundColor: #F3F9FF;
    --cardColor: #cdcdcd;
    --pFont: SofiaSans;
    --pColorLight: #938C8C;
    --pLarge: 20px;
    --pMedium: 16px;
    --pSmall: 12px;

    --hFont: ChangaOne;
    --hColor: #e46e27;
    --h1Size: 48px;
    --h2Size: 36px;
    --h3Size: 24px;
    --h4Size: 20px;
}


body {
    margin: 0;
    background-color: var(--backgroundColor);
}

.container {
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 48px;
}

p {
    font-family: var(--pFont);
    margin: 0;
}

h2,
h3,
h4 {
    margin: 0;
}

h1,
h2,
h3,
h4,
button {
    font-family: var(--hFont);
    color: var(--hColor);
}

a {
    text-decoration: none;

}

button:active {
    border-bottom: none;
}

.linkBTN {
    display: flex;
    justify-content: center;
    font-family: var(--pFont);
    font-size: var(--pLarge);
    color: #F3F9FF;
    margin: 5px 0px 0px 0px;
    padding: 8px 0 8px 0;
    width: 100%;
    background-color: var(--hColor);
    border: none;
    border-bottom: 4px solid #A7562E;
    border-radius: 10px;
}