/* WELCOME PAGE */

body {
    height: 100%;
    overflow: hidden;
}

#welcomeHeader {
    height: 559px;
    width: 100vw;
    background-image: url(../media/paViftBackground.svg);
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: baseline;
    justify-content: center;
}


#logo {
    margin-top: 67px;
}

#welcomeMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 16px 104px 16px;
}

#welcomeMain h2 {
    font-family: var(--hFont);
    font-size: var(--h2Size);
    margin: 0px 0px 10px 0px;
    color: var(--hColor);

}

#welcomeMain p {
    font-family: var(--pFont);
    font-size: 18px;
    text-align: center;
    margin: 6px 0px 20px 0px;
    color: var(--pColorLight);
}

nav {
    width: 100%;
}